<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Scooby Brew</a>
    <button class="navbar-toggler" data-target="#nav" data-toggle="collapse" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <% if(path === '/brew') { %>active<% } %>">
                <a class="nav-link" href="/brew">Brew</a>
            </li>
            <li class="nav-item <% if(path === '/configure') { %>active<% } %>">
                <a class="nav-link" href="/configure">Configure</a>
            </li>
        </ul>
    </div>
</nav>