{% extends "basic_pages/base.html" %}
{% block content_block %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">ScoobyBrew</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Brew!</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Recipe Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Recipe Builder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Brewery Builder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pantry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Equipment Room</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
    </div>
</nav>

{% block body_block %}

{% endblock body_block %}

{% endblock content_block %}