{"configured":false,"onewireDevices":["28-031702e1aeff","28-0517025495ff","28-0517027930ff"],"controlLoops":[{"name":"HLT","input":"28-031702e1aeff","output":"18","controller":[]},{"name":"Mash Tun","input":"28-0517025495ff","output":[],"controller":[]},{"name":"Boil Kettle","input":"28-0517027930ff","output":"17","controller":[]}],"outputPins":[18,17]}