<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <h1 class="display-1">Configure</h1>
        <div class="alert alert-warning" role="alert">
            Under construction
        </div>
    </div>
<%- include('includes/end.ejs') %>