<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Scooby Brew</h1>
            <p class="lead">Brewing Control Systems</p>
            <hr class="my-4">
            <a href="" class="btn btn-light">Configure</a>
            <a href="" class="btn btn-light">Brew</a>
        </div>
    </div>
<%- include('includes/end.ejs') %>