<h1>Scooby Brew initialization</h1>
<p>Found {{ sensors.length }} device(s):</p>
<table>
    <thead>
        <th>Sensor Name</th>
        <th>Sensor Address</th>
        <th>New Name (optional)</th>
    </thead>
    <tbody>
    {{#each sensors}}
        <tr><td>{{ this.name }}</td><td>{{ this.address }}</td><td><input type="text"></td></tr>
    {{/each}}
    </tbody>
</table>

<input type="text">
<input type="button" id="butt" value="Test">

<script>

    const socketProtocol = (window.location.protocol === 'https:' ? 'wss:' : 'ws:')
    const echoSocketUrl = socketProtocol + '//' + window.location.hostname + ':3000/'
    const socket = new WebSocket(echoSocketUrl);

    socket.onopen = () => {
    socket.send('Here\'s some text that the server is urgently awaiting!'); 
    }

    socket.onmessage = e => {
    console.log('Message from server:', event.data)
    }

    window.addEventListener("load", function(){
        console.log("Loaded");
        var button = document.getElementById("butt");
        button.addEventListener("click", function() {
            console.log(echoSocketUrl);
            socket.send("Random String")
        });
    });

    socket.onmessage = function(msg){
        console.log(msg.data)
    }
</script>

