@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Teko:300&display=swap');

.border-3 {
    border-width: 3px !important;
}

.btn {
    height: 75px !important;
    margin: 5px 0px 5px 0px;
}

.card {
    width: 350px;
}

.degree {
    font-family: 'Teko', sans-serif;
    font-size: 30px !important;
    font-weight: bold !important;    
}

.temp {
    font-family: 'Teko', sans-serif;
    font-size: 60px !important;
    font-weight: bold !important;
}

.w-50px {
    width: 60px !important;
}
