<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <h1>404 Not Found!</h1>
        <h3>Do not pass go, do not collect $200.</h3>
    </div>
<%- include('includes/end.ejs') %>