<%- include('includes/head.ejs') %>
<script src="/dist/vue.js"></script>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <h1 class="display-1">Configure</h1>

        <!-- Development -->
        <div class="alert alert-warning" role="alert">
            Under construction
        </div>
        <div id='app'>
            {{ devices.configured }}
        </div>

        <!-- <form action="" method="post">
            <h1>Found devices:</h1>
            <ul>
                <li v-for="item in post.devices">
                    {{ item.name }}
                </li>
            </ul>
        </form> -->
    </div>
    <script src="/js/config.js"></script>
<%- include('includes/end.ejs') %>